apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  annotations:
  labels:
    airshipit.org/ephemeral-node: "true"
    airshipit.org/deploy-k8s: "false"
  name: node0{{ a_node }}
spec:
  online: true
  bootMACAddress: "{{ macAddress.stdout }}"
  networkData:
    name: node0{{ a_node }}-network-data
    namespace: default
  bmc:
    address: "redfish+https://localhost:8443/redfish/v1/Systems/{{ vm_instance.name }}-{{ a_node }}"
    credentialsName: node0{{ a_node }}-bmc-secret
status:
  provisioning:
# we need this status to make sure, that the host is not going to be
# reprovisioned by the ephemeral baremetal operator.
# when we have more flexible labeling system in place, we will not
# deliver this document to ephemeral cluster
    state: externally provisioned
